@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Lenis recommended styles */
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  body {
    @apply antialiased text-base leading-relaxed text-neutral-200 bg-neutral-950;
  }

  @keyframes noise {
    0% {
      transform: translate(0, 0);
    }

    10% {
      transform: translate(-5%, -5%);
    }

    20% {
      transform: translate(-10%, 5%);
    }

    30% {
      transform: translate(5%, -10%);
    }

    40% {
      transform: translate(-5%, 15%);
    }

    50% {
      transform: translate(-10%, 5%);
    }

    60% {
      transform: translate(15%, 0);
    }

    70% {
      transform: translate(0, 10%);
    }

    80% {
      transform: translate(-15%, 0);
    }

    90% {
      transform: translate(10%, 5%);
    }

    100% {
      transform: translate(5%, 0);
    }
  }

  .bg-noise {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: noise .2s infinite;
    opacity: .9;
    visibility: visible;
  }
}